*/5 * * * * cd /app && $(which npx) tsx ./sync-market.ts --sync=syncFromCoinmarket
*/5 * * * * cd /app && $(which npx) tsx ./sync-market.ts --sync=syncFromUTXOSwap
*/5 * * * * cd /app && $(which npx) tsx ./sync-market.ts --sync=syncFromOmiga
